<div class="container">
  <footer>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
    <p class="text-center text-body-secondary">&copy; 2024 Udemy - SE162107</p>
  </footer>
</div>
